---
title: Le Wagon - Middleman
---
<%= partial "banner"  %>
<div class="wrapper">
<div class="container text-center">
  <div class="dashboard-layout">
     <%= partial "card"  %>
</div>
</div>
</div>
